{% extends 'base.html' %}
{% block head %}
<title>Sensors</title>
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
<div class="flexboxContainer">
    <div class="flexboxContainer2">
        <div class="headerAlign">
            <h1>Ampere Timer</h1>
        </div>
        <img class="charts" src='data:image/png;base64,{{temp}}' />
    </div>
    <div class="flexboxContainer2">
        <div class="headerAlign">

        </div>

    </div>
</div>
{% endblock %}